@inherits LayoutComponentBase

<PageTitle>Hulk</PageTitle>

<div class="page">
    <div class="sidebar1">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <p></p>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

